body{
    background-color: rgb(255, 255, 255);
}

.page{
    display: flex;
    justify-content: right;
    margin: 0;
    padding: 20px;
    background-color: #555;
    border-radius: 10px;
    
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

ul li {
    padding: 15px 20px;
    cursor: pointer;
    color: white;
    font-family: Ariel, sans-serif;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 10px;
}

ul li:hover {
    background-color: #000000;
}

@media (max-width: 600px){
    ul {
        flex-direction: column;
        text-align: center;
    }

    ul li {
        padding: 12px, 0;
    }
}

.intro-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serief;
    border: 1px solid rgb(185, 174, 174);
    background-color:rgb(245, 245, 245);
    padding: 50px;
    border-radius: 10px;
    box-shadow:5px 10px 10px hsla(0, 8%, 61%, 0.25);
    max-width: 600px;
}

.intro:hover{
    box-shadow: 5px 5px 5px hsla(0, 44%, 12%, 0.226);
    cursor: pointer;
    transition: 0.1s;
}

 table{
    margin: 20px auto;
    padding: 15px 20px;
    border-collapse: collapse;
    border-radius: 5px;
    min-width: 600px;
   ;
 }

 @media(max-width: 600px){
    table{
        min-width: 100px;
        max-width: 600px;
    }
 }

 th, td{
    border: 2px solid black;
    padding: 15px 20px;
    text-align: center;
 }

 thead tr{
    background-color: #b1acac;
 }

 tbody tr:nth-child(even) {
    background-color: #bbbb; 
}

tbody tr:nth-child(odd) {
    background-color: #ffffff; 
}

.credentials{
    display: flex;
    justify-content: center;
    padding: 15px 20px;
    gap:10px;
}

@media (max-width: 600px) {
    .credentials {
        display: flex;            
        flex-direction: row;      
        flex-wrap: wrap;          
        justify-content: center;  
        align-items: center;      
        min-width: 100px;         
        text-align: center;       
    }
}


#name, #age, #add-btn, #gender{
    padding: 10px;
    border-radius: 10px;
    
}

#gender{
    padding-block: none;
}


#name-msg, #age-msg{
    font-size: 12px;
    color: red;
    margin: 5px 0 0;
    height: 1em;
}

#clear-div{
    display: flex;
    justify-content: center;
}

#clear-btn{
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 8px;
}







