body{
    background-color: rgb(255, 255, 255);
}

.page{
    display: flex;
    justify-content: right;
    margin: 0;
    padding: 20px;
    background-color: #555;
    border-radius: 10px;
    
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

ul li {
    padding: 15px 20px;
    cursor: pointer;
    color: white;
    font-family: Ariel, sans-serif;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 10px;
}

ul li:hover {
    background-color: #000000;
}

@media (max-width: 600px){
    ul {
        flex-direction: column;
        text-align: center;
    }

    ul li {
        padding: 12px, 0;
    }
}