/* ===================== NAVBAR ===================== */

.page {
    background-color: #555;
    padding: 20px;
    border-radius: 10px;
}
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-size: 22px;
    font-weight: bold;
}

#nav-menu ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

#nav-menu li {
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 8px;
}

#nav-menu li:hover {
    background-color: #000;
}

/* HAMBURGER */
#menu-btn {
    display: none;
    font-size: 28px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

@media (max-width: 600px) {

    #menu-btn {
        display: block;
    }

    #nav-menu {
        display: none;
        width: 100%;
    }

    #nav-menu.show {
        display: block;
    }

    #nav-menu ul {
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
    }
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

ul li {
    padding: 15px 20px;
    cursor: pointer;
    color: white;
    font-family: Ariel, sans-serif;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 10px;
}

ul li:hover {
    background-color: #000000;
}

@media (max-width: 600px){
    ul {
        flex-direction: column;
        text-align: center;
    }

    ul li {
        padding: 12px, 0;
    }
}

.intro-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serief;
    border: 1px solid rgb(185, 174, 174);
    background-color:rgb(245, 245, 245);
    padding: 50px;
    border-radius: 10px;
    box-shadow:5px 10px 10px hsla(0, 8%, 61%, 0.25);
    max-width: 600px;
}

.intro:hover{
    box-shadow: 5px 5px 5px hsla(0, 44%, 12%, 0.226);
    cursor: pointer;
    transition: 0.1s;
}

 table{
    margin: 20px auto;
    padding: 15px 20px;
    border-collapse: collapse;
    border-radius: 5px;
    min-width: 600px;
   ;
 }

 @media(max-width: 600px){
    table{
        min-width: 100px;
        max-width: 600px;
    }
 }

 th, td{
    border: 2px solid black;
    padding: 15px 20px;
    text-align: center;
 }

 thead tr{
    background-color: #b1acac;
 }

 tbody tr:nth-child(even) {
    background-color: #bbbb; 
}

tbody tr:nth-child(odd) {
    background-color: #ffffff; 
}

.credentials{
    display: flex;
    justify-content: center;
    padding: 15px 20px;
    gap:10px;
}

@media (max-width: 600px) {
    .credentials {
        display: flex;            
        flex-direction: row;      
        flex-wrap: wrap;          
        justify-content: center;  
        align-items: center;      
        min-width: 100px;         
        text-align: center;       
    }
}


#name, #age, #add-btn, #gender{
    padding: 10px;
    border-radius: 10px;
    
}

#add-btn{
    padding-inline: 30px;
    border: none;
}

#gender{
    padding-block: 10px;;
}


#name-msg, #age-msg{
    font-size: 12px;
    color: red;
    margin: 5px 0 0;
    height: 1em;
}

#clear-div{
    display: flex;
    justify-content: center;
}

#clear-btn{
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 8px;
}

/*/////////////////////////////////// About Page ////////////////////////////////////*/

#forget-div{
    padding-left: 20px;
}

#about{
    font-family: sans-serif;
    border: 1px solid;
    margin: 50px;
    border-radius: 10px;
    background-color: #aca7a7;
    box-shadow: 10px 10px 10px rgb(75, 73, 73);
    height: 80vh;
    
}

@media(max-width: 600px){
    #about{
        border: 1px solid;
        margin: 10px;
        border-radius: 10px;
        background-color: #aca7a7;
        box-shadow: 10px 10px 10px rgb(75, 73, 73);

    }
}

#about > div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-msg{
    font-family: sans-serif, Arial;
    font-size: 40px;
}

@media(max-width: 600px){
    #login-msg{
        font-size: 30px;
    }
}

#login-div{
    padding-top: 5em;
    padding-bottom: 20px;
}

#login-input{
    flex-direction: column;
}

#login-email, #login-password{
    padding: 20px;
    border-radius: 15px;
    min-width: 35rem;
    max-width: 40rem;
}



@media(max-width: 600px){
    #login-email, #login-password{
        padding: 15px;
        min-width: 17rem;
        max-width: 20rem;

    }
}

#forget-div{
    padding: 20px;
}

#btn{
    padding: 20px 290px;
    border-radius: 10px;
    background-color: blue;
    color: white;
}

@media(max-width: 600px){
    #btn{
        padding: 10px 135px;
    }

    #add-logins{
    padding: 15px;
    gap: 10px;
    flex-wrap: wrap;
    padding-bottom: 40px;
}
}

#add-logins{
    padding: 15px;
    gap: 10px;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

#google-btn, #fb-btn, #ig-btn, #meta-btn{
    min-width: 10rem;
    padding: 20px 40px;
    flex-wrap: wrap;
    text-align: center;
    border-radius: 10px;
    color: white;
    border: none;
}

#google-btn{
    background-color: rgb(206, 206, 116);
}

#fb-btn{
    background-color: rgb(70, 70, 228);
}

#ig-btn{
    background-color: pink;
}

#meta-btn{
    background-color: gray;
}

#email-prompt, #password-prompt{
    padding-right: 25rem;
    margin-top: 0;
}

@media(max-width: 600px){
    #email-prompt, #password-prompt{
    padding-right: 9rem;
    font-size: small;
    margin-top: 1;
}
}